<app-blank title="Menüler">

    
    <app-section sectionTitle="Menü Listesi">
        <div class="form-group float-left">
            <button class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          
        <app-navigation-add id="{{id}}"></app-navigation-add>
        <div class="form-group float-right col-md-3 ">
            <input type="search" class="form-control search" placeholder="Aranacak değer" [(ngModel)]="filterText">
        </div>

        <div class="form-group">
             <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Menü Adı</th>
                    <th>Menü Yolu</th>
                    <th>Üst Menüsü</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nav of navigationItems">
                    <td>{{nav.navigationName}}</td>
                    <td>{{nav.navigationPath}}</td>
                    <td>{{nav.topNavigationId}}</td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-outline-danger btn-sm ml-4"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </app-section>

    <app-section sectionTitle="Menü Yetkilendirme">
        <div class="form group mb-4" *ngIf="isMenuRoleVisible">
            <form #addMenuRoleForm="ngForm"  (ngSubmit)="addMenuRole(addMenuRoleForm)">
                <div class="row">
                    <div class="col-4">
                        <select ngModel #navigationItemId name="navigationItemId" class="form-control">
                            <option>Seçiniz</option>
                            <option *ngFor="let nav of navigationItems" value="{{nav.id}}">{{nav.navigationName}}</option>
                        </select>
                    </div>
                    
                    <div class="col-4">
                        <select ngModel #mainRoleId name="mainRoleId" class="form-control">
                            <option>Seçiniz</option>
                            <option *ngFor="let mainRole of mainRoles" value="{{mainRole.id}}">{{mainRole.title}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-danger" (click)="toggleMenuRoleAdd()">İptal</button>
                    </div>
                    
                </div>
            </form>

        </div>
        <div class="form-group float-left">
            <button (click)="toggleMenuRoleAdd()" class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Menü Adı</th>
                                <th>Rol Adı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let navItemRole of navigationItemMainRole">
                                    <td>{{navItemRole.navigationName}}</td>
                                    <td>{{navItemRole.mainRoleName}}</td>
                                    <td>
                                        <button class="btn btn-outline-warning btn-sm" ><i class="fa fa-edit"></i></button>
                                        <button (click)="deleteMenuRoleById(navItemRole.id)" class="btn btn-outline-danger btn-sm ml-4"><i class="fa fa-trash"></i></button>
                                    </td>
                            </tr>
                        </tbody>

                </table>
        </div>
    </app-section>

</app-blank>