<app-blank title="Kullanıcı">
    <app-section sectionTitle="Kullanıcı Listesi">
        <div class="form-group float-left">
            <button class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <th>Kullanici Adi</th>                        
                        <th>Adi Soyadi</th>
                        <th>Eposta</th> 
                        <th>Telefon</th>                                               
                        <th>İşlemler</th>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.username}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>
                                    <button title="Güncelleme" class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></button>
                                    <button title="Sil" class="btn btn-outline-danger btn-sm ml-4"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </app-section>
   
    <app-section sectionTitle="Şirket Yetkileri">
            <div class="form-group" *ngIf="isUserCompanyAddVisible">
                <form #addUserCompanyForm = "ngForm" (ngSubmit)="addUserCompany(addUserCompanyForm)">
                        <div class="row">
                            <div class="col-4">
                
                                    <select ngModel #userId name="userId" class="form-control">
                                            <option *ngFor="let user of users" value="{{user.id}}">{{user.username}} - {{user.fullName}}</option>
                                    </select>
                            </div>
                            <div class="col-4">
                        
                                    <select ngModel #companyId name="companyId" class="form-control">
                                            <option *ngFor="let company of companies" value="{{company.companyId}}">{{company.companyName}}</option>
                                    </select>
                            </div>
                            <label></label>
                            <div class="col-2">
                                    <button type="submit" class="btn btn-outline-primary" >Kaydet</button>
                            </div>
                            <label></label>
                            <div class="col-2">
                                    <button class="btn btn-outline-danger" (click)="toggleUserComoanyAdd()" >İptal</button>
                            </div>
                        </div>
                </form>
            </div>
        <div class="form-group float-left">
            <button (click)="toggleUserComoanyAdd()" class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Kullanıcı adi</th>
                                <th>Şirket</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userCompany of userCompanies">
                                 <td>{{userCompany.userName}}</td>
                                 <td>{{userCompany.companyName}}</td>
                                 <td>
                                    <button title="Güncelleme" class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></button>
                                    <button title="Sil" class="btn btn-outline-danger btn-sm ml-4"><i class="fa fa-trash"></i></button>
                                 </td>
                            </tr>
                        </tbody>
                </table>
        </div>
    </app-section>
    <app-section sectionTitle="Kullanıcı Rol Atama">
        <div class="form-group" *ngIf="isMainRoleUserAddVisible">
            <form #addMainRoleUserForm="ngForm" (ngSubmit)="addMainRoleUser(addMainRoleUserForm)">
                  <div class="row">
                        <div class="col-4">
                            <select class="form-control"  ngModel #userId name="userId">
                                <option>Kullanıcı seçiniz</option>
                                <option *ngFor="let user of users" value="{{user.id}}">{{user.username}} - {{user.fullName}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-control" ngModel #mainRoleId name="mainRoleId">
                                    <option *ngFor="let mainRole of mainRoles" value="{{mainRole.id}}">{{mainRole.title}}</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button  type="submit" class="btn btn-outline-primary">Kaydet</button>
                        </div>
                        <div class="col-2">
                            <button (click)="toggleMainRoleUserAdd()"  class="btn btn-outline-danger">İptal</button>
                        </div>
                  </div>
                   
            </form>

        </div>
        <div class="form-group float-left">
            <button (click)="toggleMainRoleUserAdd()" class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Kullanıcı adı</th>
                            <th>Rol Adi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mainRoleUser of mainRoleUsers">
                            <td>{{mainRoleUser.userName}}</td>
                            <td>{{mainRoleUser.mainRoleTitle}}</td>
                            <td>
                                <button title="Güncelleme" class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></button>
                                <button title="Sil" class="btn btn-outline-danger btn-sm ml-4"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </app-section>
   
</app-blank>